/****    save icon    ****/

@keyframes wmobile-save-icon-animation
{
	 0%   { opacity: 0; }
	 50%  { opacity: 1; }
	 100%	{ opacity: 0; }
}
.wmobile-save-icon
{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	border-radius: 10px;
	background-color: #54A42B;
	background-image: url("../img/save.png");
	animation-name: widget-save-icon-animation;
	animation-duration: 2s;
	animation-iteration-count: 1;
}

.wmobile-save-icon-hidden
{
	opacity: 0;
	position: absolute;
	right: 32px;
	top: 32px;
	width: 30px;
	height: 30px;
	z-index: -1;
}

