/****    wdialog override    ****/
.Wt-dialog .closeicon {
	width: 42px;
	height: 42px;
	position: absolute;
	background-position: right 0px;
	right: 4px;
	top: 4px;
	cursor: default;
	background: transparent url("../img/cancel.png") no-repeat right top;
}
.Wt-dialog .titlebar {
	color: #FFFFFF;
	height: 50px;
	font-size: 22px;
	line-height: 50px;
}
