/****    div & textarea scrollbar    ****/

.sb-wrapper
{
	position: relative;
	z-index: 1;
}

.sb-inner
{
	height: 100%;
	width: 100%;
	padding: 0 0 0 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	box-sizing: border-box;
}

.sb-scroll
{
	position: absolute;
	top: 0;
	background: #384a57;
	border-radius: 4px;
	width: 9px;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.25s linear, top 0.12s linear;
}

.sb-hidden
{
	display: none;
}

.sb-wrapper:hover .sb-scroll,
.sb-wrapper:focus .sb-scroll,
.sb-wrapper:active .sb-scroll
{
	opacity: 1;
}

.sb-grabbed
{
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	opacity: 1;
	transition: opacity 0.25s linear;
}
