.ss-wrapper
{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	float: left;
}

.ss-content
{
	height: 100%;
	width: calc(100% + 18px);
	padding: 0 0 0 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: border-box;
}

.ss-content.rtl
{
	width: calc(100% + 18px);
	right: auto;
}

.ss-scroll
{
	position: relative;
	background: #384a57;
	width: 9px;
	border-radius: 4px;
	top: 0;
	z-index: 2;
	cursor: pointer;
	opacity: 0;
	margin-left: -15px;
	transition: opacity 0.25s linear;
}

.ss-hidden
{
	display: none;
}

.ss-container:hover .ss-scroll,
.ss-container:active .ss-scroll
{
	opacity: 1;
}

.ss-grabbed
{
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/****    div & textarea scrollbar    ****/

.sb-wrapper
{
	position: relative;
	z-index: 1;
}

.sb-inner
{
	height: 100%;
	width: 100%;
	padding: 0 0 0 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	box-sizing: border-box;
}

.sb-scroll
{
	position: absolute;
	top: 0;
	background: #384a57;
	border-radius: 4px;
	width: 9px;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.25s linear, top 0.12s linear;
}

.sb-hidden
{
	display: none;
}

.sb-wrapper:hover .sb-scroll,
.sb-wrapper:focus .sb-scroll,
.sb-wrapper:active .sb-scroll
{
	opacity: 1;
}

.sb-grabbed
{
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	opacity: 1;
	transition: opacity 0.25s linear;
}
