body
{
	font-family: sans-serif;
	color: #f9e9b8;
	font-weight: normal;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	background: url('/img/background.jpg') bottom center no-repeat fixed;
	background-size: cover;
	overflow: hidden;
	z-index: -100;
}
.main-background
{
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.18);
	z-index: -99;
}
.stack-background
{
	min-height: 100%; height: 100%;
	min-width: 100%; width: 100%;
	z-index: 0;
	position: relative;
}

textarea
{
	background: #FFF;
	border: solid 1px #555;
}

input[type=text],
input[type=password]
{
	font-size: 16px;
	border: solid 0px;
	background: #0a141c;
	opacity: 0.88;
	color: #f9e9b8;
	height: 22px;
	padding: 4px 12px;
	border-radius: 20px;
	outline-style: none;
	box-shadow: none;
	border-color: transparent;
}
input[type=text]::-webkit-input-placeholder
{
	color: #def;
}
::placeholder
{
	color: #def;
	opacity: 0.7;
}

input[type=file]
{
	/* color: #222; */
}

.Wt-loading
{
	border: 6px solid #0b0a0963;
	border-top: 6px solid #3da2c6cc;
	border-radius: 50%;
	background-color: #00000000 !important;
	width: 40px;
	height: 40px;
	animation: spin 2s linear infinite;
	position: absolute;
	right: 14px !important;
	top: 36px !important;
	font-size: 0px !important;
}

@font-face
{
	font-family: 'Hack';
	src: url('font/hack-regular-subset.woff2?sha=3114f1256') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/****    generic widget    ****/

.Wt-msgbox-text
{
	overflow: auto;
	color: #333;
}

.Wt-dialog .closeicon
{
	width: 16px;
	height: 16px;
	position: absolute;
	background-position: right 0px;
	right: 2px;
	top: 2px;
	cursor: default;
	background: transparent url("../img/close.png") no-repeat right top;
}

.Wt-dialog .closeicon:hover
{
	background-position: right 0px;
}

.Wt-dialog .titlebar {
	background: #333;
	color: #FFFFFF;
	padding: 2px 6px 3px;
}

.Wt-progressbar .Wt-pgb-label
{
	position: absolute;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 10px;
	top: 0;
}

.Wt-progressbar .Wt-pgb-bar
{
	background: #0a141cc1;
}

.Wt-progressbar
{
	background: #00000065;
	border: solid 0px;
	color: #FFF;
}

/* disable blue overlay */
div.jp-seeking-bg
{
	background: #00000065 !important;
}

/****    animations    ****/

@keyframes animate_show_animation
{
	0%   { opacity: 0; }
}
.animate_show
{
	animation-name: animate_show_animation;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	opacity: 1;
}

@keyframes animate_hide_animation
{
	0%  { opacity: 1; visibility: visible; }
	100%  { opacity: 0; visibility: hidden; }
}
.animate_hide
{
	animation-name: animate_hide_animation;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	visibility: hidden;
}

.hidden
{
	opacity: 0 !important;
}

/****    widget_login    ****/

.widget_login
{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.widget_login_center
{
	display: flex;
	flex-direction: column;
	margin-top: 10%;
	margin-bottom: 20%;
}

.widget_login_input
{
	text-align: center;
	width: 240px;
	margin-bottom: 10px;
}

.widget_login_failed
{
	transition: 0.8s;
	opacity: 0 !important;
}

.widget_login_reset
{
	transition: 0.8s !important;
}

/****    widget_home    ****/

.widget_home
{
	/* position: relative; */
}

.widget_home_search
{
	position: absolute;
	width: 470px;
	top: 160px;
	left: calc(50% - 270px);
}

.widget_home_audio
{
	position: absolute;
	width: calc(100% - 32px);
	top: 6px;
	left: 0px;
	margin-left: 16px;
	margin-right: 16px;
}

.widget_home_chat
{
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 500px;
	display: flex;
	flex-direction: column;
}

/****    widget_dice    ****/

.div_dices_area
{
	position: absolute;
	top: 24px;
	right: 0px;
	z-index: -1;
}
.div_secret_dices_area
{
	position: absolute;
	top: 24px;
	right: 0px;
	z-index: -2;
}

@keyframes animate_dices_area_hidden
{
	0%  { opacity: 1; visibility: visible; }
	100%  { opacity: 0; visibility: hidden; }
}
.div_dices_area_hide
{
	z-index: -1;
	animation-name: animate_dices_area_hidden;
	animation-duration: 3s;
	animation-iteration-count: 1;
	visibility: hidden;
}

.div_dice_selector
{
	width: 700px;
	height: 280px;
	position: absolute;
	bottom: 150px;
	right: 84px;
}

.div_animated_selector
{
	position: absolute;
	top: 6px;
	left: 0px;
	/* background: #10102090; */
}

.div_selector_notation
{
	position: absolute;
	width: 700px;
	height: 50px;
	line-height: 50px;
	top: 0px;
	left: 0px;
	text-align: center;
	font-size: 38px;
}
.selector_notation_text
{
	background: #0a141c90;
	border-radius: 26px;
	padding: 3px 25px;
}

.div_selector_buttons
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 140px;
}

.selector_decoration
{
	position: absolute;
	opacity: 0.88;
	transition: opacity 0.6s;
}

.selector_button_left
{
	position: absolute;
	left: calc(700px / 2 - 70px - 160px);
	top: 45px;
	height: 50px;
	width: 160px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	cursor: pointer;
	z-index: 1;
}
.selector_button_right
{
	position: absolute;
	right: calc(700px / 2 - 70px - 160px);
	top: 45px;
	height: 50px;
	width: 160px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	cursor: pointer;
	z-index: 1;
}

.selector_button_middle
{
	position: absolute;
	bottom: 0px;
	left: calc(50% - 70px);
	width: 140px;
	height: 140px;
	background: url('/img/moon-cloud.svg') center center no-repeat;
	background-color: #040c1bd0;
	opacity: 1.0;
	background-size: contain;
	border-radius: 50%;
}

.div_sun_moon
{
	position: absolute;
	bottom: -50px;
	right: -50px;
	width: 240px;
	height: 240px;
	background: url('/img/sun-moon.svg') center center no-repeat;
	background-color: #040c1370;
	background-size: contain;
	border-radius: 50%;
	animation: spin 120s linear infinite;
	z-index: -1;
	opacity: 0.80;
}

.div_animated_d20
{
	position: absolute;
	bottom: 19px;
	right: 19px;
	cursor: pointer;
}

/****    widget_chat    ****/

.widget_chat
{
	height: 280px;
	width: 500px;
	background: #0a141c;
	font-size: 15px;
	opacity: 0.84;
	padding: 6px 8px;
	border-radius: 14px;
	transition: opacity 0.6s;
}

.widget_chat_lines
{
	/* height: 600px; */
	width: calc(100% - 6px);
	display: inline-block
}

.widget_chat_timestamp
{
	color: #a8a9aa;
	min-width: 46px;
	text-align: left;
	font-size: 14px;
	display: inline-block;
}

.widget_chat_player_name
{
	font-weight: bold;
	color: #d2ae4e;
}

.widget_chat_dice_total
{
	color: #dd524b;
	font-weight: bold;
}

.widget_chat_join
{
	color: #a8a9aa;
	font-style: italic;
}

.widget_chat_input
{
	width: calc(100% - (36px + 12px) + 16px); /* 36 + 12 = padding, 16 = chat_container padding */
	font-family: 'Hack', monospace;
	margin-top: 8px;
	padding-left: 36px !important;
	background-image: url('/img/speech.svg') !important;
	background-repeat: no-repeat !important;
	background-position: 10px 5px !important;
}

.div_sun_moon_chat
{
	position: absolute;
	bottom: -50px;
	left: -50px;
	width: 240px;
	height: 240px;
	background: url('/img/sun-moon.svg') center center no-repeat;
	background-color: #040c1370;
	background-size: contain;
	border-radius: 50%;
	animation: spin 120s linear infinite reverse;
	z-index: -1;
	opacity: 0.80;
}

/****    widget_search    ****/

.widget_search_edit
{
	font-family: 'Hack', monospace;
	width: 100%;
	padding-left: 36px !important;
	background-image: url('/img/sun-moon-mini.svg') !important;
	background-repeat: no-repeat !important;
	background-position: 8px 4px !important;
}

.widget_search_suggestions
{
	position: absolute;
	top: 35px;
	left: 12px;
	min-width: 100%;
	max-width: 200%;
	background: #0a141c;
	font-size: 15px;
	opacity: 0.88;
	border-radius: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.widget_search_line_suggestion
{
	border: solid 0px;
	width: 100%;
	height: 22px;
	line-height: 24px;
	padding: 4px 12px;
	cursor: pointer;
}

.widget_search_line_suggestion:hover,
.widget_search_selected
{
	background: #2a343c;
}

.widget_search_match
{
	color: #6adfe8;
}

/****    widget_audio    ****/

.widget_audio
{
	display: flex;
	align-items: center;
}

.widget_audio_progress
{
	height: 12px;
	border-radius: 6px;
	width: 100% !important;
}

.widget_audio_volume
{
	height: 12px;
	width: 140px;
	border-radius: 6px;
}

.widget_audio_button
{
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	opacity: 0.88;
}

.widget_audio_button_play
{
	background: url('/img/play.svg') center center no-repeat;
	background-size: cover;
	margin-right: 8px;
}

.widget_audio_button_pause
{
	background: url('/img/pause.svg') center center no-repeat;
	background-size: cover;
	margin-right: 8px;
}

.widget_audio_button_volume
{
	background: url('/img/volume.svg') center center no-repeat;
	background-size: 20px 24px;
	margin-left: 8px;
	margin-right: 4px;
}

/****    widget_image    ****/

.widget_image
{
	/* width: 300px; */
	/* height: 300px; */
	display: block;
	position: absolute;
	z-index: 2;
}
.widget_image_animated
{
	transition: top 0.8s, left 0.8s, width 0.6s, height 0.6s;
	transition-timing-function: ease;
}

.widget_image_bar
{
	position: absolute;
	top: 0px;
	left: 0px;
	background: #0a141ce1;
	/* border-bottom: solid 1px #478bb0; */
	width: 100%;
	height: 30px;
	z-index: 3;
	opacity: 0;
	transition: opacity 0.4s;
}
.widget_image_frame
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border: solid 2px #0a141c66;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.4s;
}
.widget_image:hover .widget_image_bar
{
	opacity: 1;
}
.widget_image:hover .widget_image_frame
{
	opacity: 1;
}

.widget_image_close
{
	position: absolute;
	top: 4px;
	right: 4px;
	width: 20px;
	height: 20px;
	background: url('/img/close.svg') center center no-repeat;
	background-size: contain;
	z-index: 4;
}
.widget_image_view_mode
{
	position: absolute;
	top: 4px;
	right: 30px;
	width: 20px;
	height: 20px;
	background-size: contain;
	z-index: 4;
}
.widget_image_view_cover
{
	background: url('/img/cover.svg') center center no-repeat;
}
.widget_image_view_contain
{
	background: url('/img/contain.svg') center center no-repeat;
}

.widget_image_content
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #0a141c00;
}

.widget_image_border
{
	position: absolute;
	/* background-color: #ff6666a0; */
	z-index: 5;
}
.widget_image_corner
{
	position: absolute;
	/* background-color: #66ff66a0; */
	width: 12px;
	height: 12px;
	z-index: 5;
}
.widget_image_border_top
{
	top: -4px;
	left: 6px;
	width: calc(100% - 6px - 6px);
	height: 8px;
	cursor: n-resize;
}
.widget_image_border_left
{
	top: 6px;
	left: -4px;
	width: 8px;
	height: calc(100% - 6px - 6px);
	cursor: w-resize;
}
.widget_image_border_right
{
	top: 6px;
	right: -4px;
	width: 8px;
	height: calc(100% - 6px - 6px);
	cursor: e-resize;
}
.widget_image_border_bottom
{
	bottom: -4px;
	left: 6px;
	width: calc(100% - 6px - 6px);
	height: 8px;
	cursor: s-resize;
}
.widget_image_corner_nw
{
	top: -6px;
	left: -6px;
	cursor: nw-resize;
}
.widget_image_corner_ne
{
	top: -6px;
	right: -6px;
	cursor: ne-resize;
}
.widget_image_corner_sw
{
	bottom: -6px;
	left: -6px;
	cursor: sw-resize;
}
.widget_image_corner_se
{
	bottom: -6px;
	right: -6px;
	cursor: se-resize;
}
