<div class="div_hit_points">
	${close}
	<img src="/img/heart-plus.svg" class="icon">
	<div class="label">Maximum HP</div>
	<div style="width: 62px; text-align: center; font-size: 21px; font-family: 'Hack'">${max_hit_points}</div>

	<img src="/img/skull.svg" class="icon">
	<div class="label">Damage</div>
	${damage}

	<img src="/img/hourglass.svg" class="icon">
	<div class="label">Temporary HP</div>
	${tmp_hit_points}

	<img src="/img/heart.svg" class="icon">
	<div class="label">Total HP</div>
	<div style="width: 62px; text-align: center; font-size: 21px; font-family: 'Hack'">${hit_points}</div>
</div>
