${close}

<div class="title">
	<img src="/img/${icon_stat}.svg" class="icon"><span class="label">${name_stat}</span>
</div>
<div class="flex_container">
	<div class="flex_stat">

		<img src="/img/anvil.svg" class="icon">
		<div class="label">Base</div>
		<div class="number">${base_stat}</div>

		<img src="/img/hourglass.svg" class="icon">
		<div class="label">Temporary</div>
		${tmp_stat}

		<img src="/img/${icon_stat}.svg" class="icon">
		<div class="label">Total</div>
		<div class="number">${total_stat}</div>

		<img src="/img/orb.svg" class="icon">
		<div class="label">Modifier</div>
		<div class="number">${mod_stat}</div>
	</div>

	${details_skill}
</div>

