<div class="widget_image_bar"></div>
<div class="widget_image_border widget_image_border_top"></div>
<div class="widget_image_border widget_image_border_left"></div>
<div class="widget_image_border widget_image_border_right"></div>
<div class="widget_image_border widget_image_border_bottom"></div>
<div class="widget_image_corner widget_image_corner_nw"></div>
<div class="widget_image_corner widget_image_corner_ne"></div>
<div class="widget_image_corner widget_image_corner_sw"></div>
<div class="widget_image_corner widget_image_corner_se"></div>
<div class="widget_image_content"></div>
