<div class="div_stats">
	<div class="div_stats_item">
		<div class="ring_button ring_button_stats"></div>
		<div class="ring_stats_bg">+0</div>
		<div class="stats_bg stats_bg_strength"></div>
	</div>
	<div class="div_stats_item">
		<div class="ring_button ring_button_stats"></div>
		<div class="ring_stats_bg">+1</div>
		<div class="stats_bg stats_bg_dexterity"></div>
	</div>
	<div class="div_stats_item">
		<div class="ring_button ring_button_stats"></div>
		<div class="ring_stats_bg">+2</div>
		<div class="stats_bg stats_bg_constitution"></div>
	</div>
	<div class="div_stats_item">
		<div class="ring_button ring_button_stats"></div>
		<div class="ring_stats_bg">+2</div>
		<div class="stats_bg stats_bg_intelligence"></div>
	</div>
	<div class="div_stats_item">
		<div class="ring_button ring_button_stats"></div>
		<div class="ring_stats_bg">+3</div>
		<div class="stats_bg stats_bg_wisdom"></div>
	</div>
	<div class="div_stats_item">
		<div class="ring_button ring_button_stats"></div>
		<div class="ring_stats_bg">+2</div>
		<div class="stats_bg stats_bg_charisma"></div>
	</div>
</div>

