<div class="div_stats">
	<div class="div_stats_item">
		<div class="ring_button ring_button_stats"></div>
		<div class="ring_stats_bg">${text_str}</div>
		<div class="stats_bg stats_bg_strength"></div>
	</div>
	<div class="div_stats_item">
		<div class="ring_button ring_button_stats"></div>
		<div class="ring_stats_bg">${text_dex}</div>
		<div class="stats_bg stats_bg_dexterity"></div>
	</div>
	<div class="div_stats_item">
		<div class="ring_button ring_button_stats"></div>
		<div class="ring_stats_bg">${text_con}</div>
		<div class="stats_bg stats_bg_constitution"></div>
	</div>
	<div class="div_stats_item">
		<div class="ring_button ring_button_stats"></div>
		<div class="ring_stats_bg">${text_int}</div>
		<div class="stats_bg stats_bg_intelligence"></div>
	</div>
	<div class="div_stats_item">
		<div class="ring_button ring_button_stats"></div>
		<div class="ring_stats_bg">${text_wis}</div>
		<div class="stats_bg stats_bg_wisdom"></div>
	</div>
	<div class="div_stats_item">
		<div class="ring_button ring_button_stats"></div>
		<div class="ring_stats_bg">${text_cha}</div>
		<div class="stats_bg stats_bg_charisma"></div>
	</div>
</div>

