<div class="div_weapon">
	${close}
	<div class="title">
		<img src="/img/sword.svg" class="icon"><span class="label">Weapons</span>
	</div>
	<div class="flex_container">
		${check_spell}
		<img src="/img/open-book.svg" class="icon">
		<div class="name">Spellcasting</div>
		<div class="bonus">Attack Bonus</div>
		<div class="edit_bonus">${spell_bonus}</div>
		<div class="damage">Spell DC</div>
		<div class="edit_damage">${spell_dc}</div>

		${check_weapon_1}
		<img src="/img/sword.svg" class="icon">
		<div class="name">${w1_name}</div>
		<div class="bonus">Attack Bonus</div>
		<div class="edit_bonus">${w1_bonus}</div>
		<div class="damage">Damage</div>
		<div class="edit_damage">${w1_damage}</div>

		${check_weapon_2}
		<img src="/img/crossbow.svg" class="icon">
		<div class="name">${w2_name}</div>
		<div class="bonus">Attack Bonus</div>
		<div class="edit_bonus">${w2_bonus}</div>
		<div class="damage">Damage</div>
		<div class="edit_damage">${w2_damage}</div>

	</div>
</div>

